<!-- Scripts -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/projects/js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/projects/js/jquery.poptrox.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/projects/js/skel.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/projects/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/projects/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.url }}{{ site.baseurl }}/assets/projects/js/main.js"></script>


{% include analytics.html %}

